* {
  box-sizing: border-box;
}

.map {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map > svg {
  height: 100%;
  width: auto;
}

.green {
  fill: #c1e0b2;
}

.magenta {
  fill: #ebc5dd;
}

.pink {
  fill: #fad0cf;
}

.yellow {
  fill: #fdf9bb;
}

.red {
  fill: #e06565;
}


.svg-map-fragment {
  fill-opacity: 1;
  stroke: #000000;
  stroke-width: 0.2px;
  stroke-opacity: 1;
}


.svg-map-fragment:hover {
  fill: rgb(224, 101, 101);
}